<!DOCTYPE html>
<html>
<head>
    <title>Amelia cumple 3!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;900&display=swap" rel="stylesheet"> 
</head>
<body class="text-xl">

<div class="lg:flex lg:h-screen h-max">
    <div class="lg:m-auto">
        <div style="background-color: rgb(212, 7, 7); color: rgb(255, 217, 0);" class="px-4 py-4 max-w-xl">
            @if (IsSectionDefined("Title"))
            {
                <div class="text-center text-3xl pb-4">
                    @RenderSection("Title")
                </div>
            }
            <img src="/invita.png" style="max-height: 600px;"/>
            <div style="background-color: rgb(212, 7, 7); color: rgb(255, 217, 0)">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
@RenderSection("Javascript", false)
</body>
</html>